<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard/pos/overview" routerLinkActive="active" class="nav-link">Обзор <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/pos/flow" routerLinkActive="active" class="nav-link">Поток</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/pos/rejects" routerLinkActive="active" class="nav-link">Отказы</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/pos/errors" routerLinkActive="active" class="nav-link">Ошибки</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/pos/timing" routerLinkActive="active" class="nav-link">Тайминг</a>
    </li>
    <li class="nav-item">
      <a routerLink="/dashboard/pos/apr" routerLinkActive="active" class="nav-link">APR</a>
    </li>
  </ul>
</nav>
