<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Портал</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/dashboard/pos" class="nav-link">POS <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/dashboard/cash" class="nav-link">CASH</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/dashboard/card" class="nav-link">CARD</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/dashboard/xsell" class="nav-link">XSELL</a>
      </li>
    </ul>
  </div>
</nav>
